div {
    width: 400px;
    height: 200px;
    background-color: blue;
    border-radius: 20px;
    border: 20px groove black;
    box-sizing: border-box;
    margin: 20px auto;
}

.one {
    width: 400px;
    height: 200px;
    border: 40px dashed red;
}